# Eat Safe, Love

## Notebook Set Up

In [1]:
# Import dependencies
from pymongo import MongoClient
import pandas as pd
from pprint import pprint

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [4]:
print(mongo.list_database_names())

['GardenDB', 'admin', 'classDB', 'config', 'epa', 'local', 'met', 'petsitly_marketing', 'uk_food']

In [5]:
# review the collections in our database
print(db.list_collection_names())

['establishments']

In [6]:
# assign the collection to a variable
establishments = db['establishments']

In [7]:
db.establishments.count_documents({})

38786

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [8]:
establishments.find_one()

{'_id': ObjectId('6507cf6c12cdb5e0d8023af3'),
 'FHRSID': 647177,
 'ChangesByServerID': 0,
 'LocalAuthorityBusinessID': 'PI/000041489',
 'BusinessName': 'Wear Bay Bowls Club',
 'BusinessType': 'Pub/bar/nightclub',
 'BusinessTypeID': 7843,
 'AddressLine1': 'Wear Bay Road',
 'AddressLine2': 'Folkestone',
 'AddressLine3': 'Kent',
 'AddressLine4': '',
 'PostCode': 'CT19 6PY',
 'Phone': '',
 'RatingValue': 4,
 'RatingKey': 'fhrs_4_en-gb',
 'RatingDate': '2014-03-31T00:00:00',
 'LocalAuthorityCode': '188',
 'LocalAuthorityName': 'Folkestone and Hythe',
 'LocalAuthorityWebSite': 'http://www.folkestone-hythe.gov.uk',
 'LocalAuthorityEmailAddress': 'foodteam@folkestone-hythe.gov.uk',
 'scores': {'Hygiene': 5, 'Structural': 5, 'ConfidenceInManagement': 10},
 'SchemeType': 'FHRS',
 'geocode': {'longitude': Decimal128('51.0860580000000'),
  'latitude': Decimal128('51.0860580000000')},
 'RightToReply': '',
 'Distance': 4591.821311183521,
 'NewRatingPending': False,
 'meta': {'dataSource': None,
  'extractDate': '0001-01-01T00:00:00',
  'itemCount': 0,
  'returncode': None,
  'totalCount': 0,
  'totalPages': 0,
  'pageSize': 0,
  'pageNumber': 0},
 'links': [{'rel': 'self',
   'href': 'https://api.ratings.food.gov.uk/establishments/647177'}]}

In [9]:
# Find the establishments with a hygiene score of 20
query = {'scores.Hygiene':20}

# Use count_documents to display the number of documents in the result
establishments.count_documents(query)
print("Number of documents in result with:", establishments.count_documents(query))

# Display the first document in the results using pprint
pprint(establishments.find_one(query))

Number of documents in result with: 41
{'AddressLine1': '5-6 Southfields Road',
 'AddressLine2': 'Eastbourne',
 'AddressLine3': 'East Sussex',
 'AddressLine4': '',
 'BusinessName': 'The Chase Rest Home',
 'BusinessType': 'Caring Premises',
 'BusinessTypeID': 5,
 'ChangesByServerID': 0,
 'Distance': 4613.888288172291,
 'FHRSID': 110681,
 'LocalAuthorityBusinessID': '4029',
 'LocalAuthorityCode': '102',
 'LocalAuthorityEmailAddress': 'Customerfirst@eastbourne.gov.uk',
 'LocalAuthorityName': 'Eastbourne',
 'LocalAuthorityWebSite': 'http://www.eastbourne.gov.uk/foodratings',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'BN21 1BU',
 'RatingDate': '2021-09-23T00:00:00',
 'RatingKey': 'fhrs_0_en-gb',
 'RatingValue': 0,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('6507cf6c12cdb5e0d802562a'),
 'geocode': {'latitude': Decimal128('50.7697050000000'),
             'longitude': Decimal128('50.7697050000000')},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/110681',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 20, 'Hygiene': 20, 'Structural': 20}}

In [10]:
# Convert the result to a Pandas DataFrame
hygiene_df = pd.DataFrame(establishments.find(query))

# Display the number of rows in the DataFrame
print (f"There are {len(hygiene_df)} rows in this DataFrame")

# Display the first 10 rows of the DataFrame
hygiene_df.head(10)

There are 41 rows in this DataFrame

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,LocalAuthorityWebSite,LocalAuthorityEmailAddress,scores,SchemeType,geocode,RightToReply,Distance,NewRatingPending,meta,links
0,6507cf6c12cdb5e0d802562a,110681,0,4029,The Chase Rest Home,Caring Premises,5,5-6 Southfields Road,Eastbourne,East Sussex,...,http://www.eastbourne.gov.uk/foodratings,Customerfirst@eastbourne.gov.uk,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",FHRS,"{'longitude': 50.7697050000000, 'latitude': 50...",,4613.888288,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings...."
1,6507cf6c12cdb5e0d80259a7,612039,0,1970/FOOD,Brenalwood,Caring Premises,5,Hall Lane,Walton-on-the-Naze,Essex,...,http://www.tendringdc.gov.uk/,fhsadmin@tendringdc.gov.uk,"{'Hygiene': 20, 'Structural': 15, 'ConfidenceI...",FHRS,"{'longitude': 51.8575360000000, 'latitude': 51...",,4617.965824,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings...."
2,6507cf6c12cdb5e0d8025caf,730933,0,1698/FOOD,Melrose Hotel,Hotel/bed & breakfast/guest house,7842,53 Marine Parade East,Clacton On Sea,Essex,...,http://www.tendringdc.gov.uk/,fhsadmin@tendringdc.gov.uk,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",FHRS,"{'longitude': 51.7894290000000, 'latitude': 51...",,4619.656144,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings...."
3,6507cf6c12cdb5e0d8025ea0,172735,0,PI/000023858,Seaford Pizza,Takeaway/sandwich shop,7844,4 High Street,Seaford,East Sussex,...,http://www.lewes-eastbourne.gov.uk/,ehealth.ldc@lewes-eastbourne.gov.uk,"{'Hygiene': 20, 'Structural': 10, 'ConfidenceI...",FHRS,"{'longitude': 50.7708850000000, 'latitude': 50...",,4620.421725,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings...."
4,6507cf6c12cdb5e0d8025eb1,172953,0,PI/000024532,Golden Palace,Restaurant/Cafe/Canteen,1,5 South Street,Seaford,East Sussex,...,http://www.lewes-eastbourne.gov.uk/,ehealth.ldc@lewes-eastbourne.gov.uk,"{'Hygiene': 20, 'Structural': 10, 'ConfidenceI...",FHRS,"{'longitude': 50.7707240000000, 'latitude': 50...",,4620.437179,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings...."
5,6507cf6c12cdb5e0d802684c,512854,0,12/00816/BUTH,Ashby's Butchers,Retailers - other,4613,777 Southchurch Road,Southend-On-Sea,Essex,...,http://www.southend.gov.uk,EnvironmentalHealth@southend.gov.uk,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",FHRS,"{'longitude': 51.5414480000000, 'latitude': 51...",,4625.565258,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings...."
6,6507cf6c12cdb5e0d8026a6d,1537089,0,22/00224/RESTUN,South Sea Express Cuisine,Restaurant/Cafe/Canteen,1,33 Alexandra Street,Southend-on-sea,Essex,...,http://www.southend.gov.uk,EnvironmentalHealth@southend.gov.uk,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",FHRS,"{'longitude': 51.5350065000000, 'latitude': 51...",,4626.200132,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings...."
7,6507cf6d12cdb5e0d8027f98,155648,0,EH/00006058,Golden Palace,Takeaway/sandwich shop,7844,7 London Road,Rayleigh,Essex,...,http://www.rochford.gov.uk,customerservices@rochford.gov.uk,"{'Hygiene': 20, 'Structural': 15, 'ConfidenceI...",FHRS,"{'longitude': 51.5915150000000, 'latitude': 51...",,4632.276890,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f..."
8,6507cf6d12cdb5e0d80283dd,1012883,0,17/00110/MIXED/S,The Tulip Tree,Restaurant/Cafe/Canteen,1,3 The Village,Chiddingstone,KENT,...,http://www.sevenoaks.gov.uk/,environmental.health@sevenoaks.gov.uk,"{'Hygiene': 20, 'Structural': 5, 'ConfidenceIn...",FHRS,"{'longitude': 51.1859474182129, 'latitude': 51...",,4633.934041,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f..."
9,6507cf6d12cdb5e0d8028bee,644109,0,41811,F & S,Retailers - other,4613,,81 Southernhay,Basildon,...,http://www.basildon.gov.uk,ehs@basildon.gov.uk,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",FHRS,"{'longitude': 51.5700500000000, 'latitude': 51...",,4636.552523,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f..."

In [11]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
London_query = {'LocalAuthorityName': {'$regex': "London"},
                'RatingValue': {'$gte': "4"}}

# Use count_documents to display the number of documents in the result
establishments.count_documents(London_query)
print(f"There are {establishments.count_documents(London_query)} establishments in London that have a RatingValue greater than or equal to 4.")

# Display the first document in the results using pprint
pprint(establishments.find_one(London_query))

There are 0 establishments in London that have a RatingValue greater than or equal to 4.

None

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [12]:
# Convert the result to a Pandas DataFrame
London_df = pd.DataFrame(establishments.find(London_query))

# Display the number of rows in the DataFrame
print (f"There are {len(London_df)} rows in this DataFrame")

# Display the first 10 rows of the DataFrame
London_df.head(10)

There are 0 rows in this DataFrame

Empty DataFrame
Columns: []
Index: []

In [13]:
London_df.count()
#checking the count of rows in London_df

Series([], dtype: int64)

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [14]:
#change the data type of geocode.latitude and geocode.longitude and RatingValue from string to decimal
establishments.update_many({}, [ {'$set':{ "geocode.latitude" : {'$toDouble': "$geocode.latitude"}}} ])
establishments.update_many({}, [ {'$set':{ "geocode.longitude" : {'$toDouble': "$geocode.longitude"}}} ])
#establishments.update_many({}, [ {'$set':{ "RatingValue" : {'$toDouble': "$RatingValue"}}} ]) #COULD NOT GET THIS TO WORK. TRIED INTVALUE, INT, INT32, INT64.  
#query worked with quotes around the RatingValue 5 below.

In [15]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score.  The higher the score the worse in this hygiene area.
#new restaurant panang flavours  "geocode":{"longitude":"0.08384000","latitude":"51.49014200"}
#'geocode.latitude': {'$gte':latitude-degree_search, '$lte':latitude+degree_search},
#'scores.Hygiene': {'$ne': None}
#CHANGE THE LAT , LONG, RATING VALUE TO INT FROM STRING FOR THE GREATER THAN OR LESS THAN. 
degree_search = 0.01
latitude = 51.49014200 
longitude = 0.08384000

# geo_query={"geocode.latitude":{"$gte":latitude-degree_search, "$lte":latitude+degree_search},
#             "geocode.longitude":{"$gte":longitude-degree_search, "$lte":longitude+degree_search},
#             "RatingValue": "5"}

query = {'geocode.latitude': {'$gte':latitude-degree_search, '$lte':latitude+degree_search}, 
         'geocode.longitude': {'$gte': longitude-degree_search, '$lte': longitude+degree_search},
         'RatingValue':"5"}
geo_results = list(establishments.find(query))
                   #.sort(sort).limit(limit))

#sort = [("scores.Hygiene", 1)]

# limit = 5


# geo_results = list(establishments.find(geo_query).sort(sort).limit(limit))
#pprint(geo_query)
# Print the results
pprint(geo_results)
pprint(list(establishments.find(query)))

[]
[]

In [16]:
# Convert result to Pandas DataFrame
geo_df = pd.json_normalize(geo_results)
geo_df

Empty DataFrame
Columns: []
Index: []

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [17]:
# Create a pipeline that: 
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest

#find all the documents with Hygiene score of 0
match_query = {'$match': {'scores.Hygiene': 0}}

# Write an aggregation query that counts the number of documents, grouped by "LocalAuthorityName"
group_query = {'$group': {'_id': '$LocalAuthorityName', 
                          'count': {'$sum': 1}
                          } 
                }

# Create a dictionary that will allow the pipeline to sort by count in descending order
sort_values = {'$sort': {'count': -1}}

# Put the pipeline together
pipeline = [match_query , group_query, sort_values]

query_results = list(establishments.aggregate(pipeline))
# Print the number of documents in the result
print(f"There are {len(query_results)} documents in the result.")

# Print the first 10 results
pprint(query_results[0:10])

There are 55 documents in the result.
[{'_id': 'Thanet', 'count': 1130},
 {'_id': 'Greenwich', 'count': 882},
 {'_id': 'Maidstone', 'count': 713},
 {'_id': 'Newham', 'count': 711},
 {'_id': 'Swale', 'count': 686},
 {'_id': 'Chelmsford', 'count': 680},
 {'_id': 'Medway', 'count': 672},
 {'_id': 'Bexley', 'count': 607},
 {'_id': 'Southend-On-Sea', 'count': 586},
 {'_id': 'Tendring', 'count': 542}]

In [18]:
# Convert the result to a Pandas DataFrame
aggregated_df = pd.json_normalize(query_results)
aggregated_df.head()

# Display the number of rows in the DataFrame
print("Number of rows in result: ", len(aggregated_df))

# Display the first 10 rows of the DataFrame
aggregated_df.head(10)

Number of rows in result:  55

               _id  count
0           Thanet   1130
1        Greenwich    882
2        Maidstone    713
3           Newham    711
4            Swale    686
5       Chelmsford    680
6           Medway    672
7           Bexley    607
8  Southend-On-Sea    586
9         Tendring    542

In [19]:
# Deleted the database, so I can run re-import to run codes again. 
# mongo.drop_database('uk_food')
# mongo.list_database_names()